In [24]:
import numpy as np
import pandas as pd
import seaborn as sns

import math
import matplotlib.pyplot as plt
%matplotlib inline

import warnings ; warnings.filterwarnings('ignore')

파일 다운로드 링크
https://www.kaggle.com/c/bike-sharing-demand/data

## 문제 풀이

1. test.csv 파일을 아래와 같이 불러오세요.
![문제1](문제1.jpg)

In [25]:
## 데이터 불러오기

In [26]:
# code를 적으세요.
train = pd.read_csv('train.csv')
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [27]:
train['holiday'].unique()

array([0, 1], dtype=int64)

In [28]:
train['weather'].unique()

array([1, 2, 3, 4], dtype=int64)

## datetime 년/월/일/시간/분/초 컬럼 만들기

In [29]:
#object data에서 날짜 data로 변경
train['datetime'] = pd.to__datetime(train['datetime'])
train.info()

AttributeError: module 'pandas' has no attribute 'to__datetime'

In [30]:
# 년/월/일/시간/분/초
train['datetime_year'] = train['datetime'].dt.year # 년도
train['datetime_month'] = train['datetime'].dt.month
train['datetime_day'] = train['day'].dt.year
train['datetime_year'] = train['datetime'].dt.year
train['datetime_hour'] = train['datetime'].dt.hour
train['datetime_minute'] = train['datetime'].dt.minute
train['datetime_second'] = train['datetime'].dt.second

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
# weekday 월화수목금토일
train['datetim_weekday'] = train['datetime'].dt.da_name() #weekday 문자열 컬럼 생성ㅅㄱ먀ㅜ['']

2. test.csv 파일을 활용하여 아래와 같이 도출해보세요.
![문제2](문제2.jpg)

In [31]:
#object data에서 날짜 data로 변경
train['datetime'] = pd.to__datetime(train['datetime'])
train.info()

AttributeError: module 'pandas' has no attribute 'to__datetime'

In [33]:
# 년/월/일/시간/분/초
train['datetime_year'] = train['datetime'].dt.year # 년도
train['datetime_month'] = train['datetime'].dt.month
train['datetime_day'] = train['day'].dt.year
train['datetime_hour'] = train['datetime'].dt.hour
train['datetime_minute'] = train['datetime'].dt.minute
train['datetime_second'] = train['datetime'].dt.second

train[['datetime','datetime_year','datetime_month','datetime_day','datetime_hour', 'datetime_minute', 'datetime_second']]

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
# code를 적으세요.

3. test.csv 파일을 활용하여 datetime 컬럼을 추가해보세요.
![문제3](문제3.jpg)

In [34]:
# code를 적으세요.
train['datetime_weekday'] = train['datetime'].dt.day_name()
train['weekday']

AttributeError: module 'pandas' has no attribute 'to__datetime'

4-1. train 데이터를 활용하여 아래 그래프를 도출해보세요.
![문제4](문제4.jpg)

In [ ]:
# code를 적으세요.

4-2. train 데이터를 활용하여 아래 그래프를 도출해보세요.
![문제4-2](문제4-2.jpg)

In [ ]:
# code를 적으세요.

4-3. train 데이터를 활용하여 아래 그래프를 도출해보세요.
![문제4-3](문제4-3.jpg)

In [ ]:
# code를 적으세요.

4-4. train 데이터를 활용하여 아래 그래프를 도출해보세요.
![문제4-4](문제4-4.jpg)

In [ ]:
# code를 적으세요.

5. train 데이터를 활용하여 아래 그래프를 도출해보세요.
![문제5](문제5.jpg)

In [ ]:
# code를 적으세요.

6-1. train 데이터를 활용하여 아래 그래프를 도출해보세요.
![문제6](문제6.jpg)

In [ ]:
# code를 적으세요.

6-2. train 데이터를 활용하여 아래 그래프를 도출해보세요.
![문제6-2](문제6-2.jpg)

In [ ]:
# code를 적으세요.

7. train 데이터를 활용하여 temp 와 atemp을 빼서 temp(diff)을 구하고 astype()을 활용하여 아래와 같은 dataframe을 도출해보세요.
![문제7](문제7.jpg)

In [ ]:
# code를 적으세요.

8. train 데이터를 활용하여 아래 그래프를 도출해보세요.
![문제8](문제8.jpg)

In [ ]:
# code를 적으세요.

9. 연도 별로 아래 그래프를 도출해보세요. 2011년이 일부분만 나옵니다. 없는 이유는 test 데이터에서 계산해야될 값들이기 때문입니다.
![문제9](문제9.jpg)

In [ ]:
# code를 적으세요.

9-2. train의 컬럼을 아래와 같이 도출해보세요.
![문제9-2](문제9-2.jpg)

In [ ]:
# code를 적으세요.

9-3. train의 컬럼을 활용해서 새로운 dataframe을 만드는데 아래의 컬럼만 나오도록 만드세요.
![문제9-3](문제9-3.jpg)

In [ ]:
# code를 적으세요.

10. 위 dataframe 데이터를 활용하여 아래와 같은 heatmap을 도출해보세요.
![문제10](문제10.jpg)

In [ ]:
# code를 적으세요.

11. heatmap에서 count와 temp(diff)간 상관성이 적어 보입니다. boxplot으로 아래와 같이 도출해서 왜 그런지 생각해봅시다. 
![문제11](문제11.jpg)

In [ ]:
# code를 적으세요.